.header {

display: grid;
grid-template-columns: 5% 15% 60% 5% 5%;
margin-bottom: 30px;
margin-top: 20px;
margin-left: 20px;
height: auto;
align-items: center;

}

.logo{

    justify-content: center;
}

.grid {

    display: grid;
    /* permite que al hacer más chica la pantalla las imágenes se vayan hacia abajo, el 250px es el ancho del grid container */
    grid-template-columns: repeat(auto-fill, 220px);    
    margin: 10px;
    
}

.container {

    display: grid;
    align-content: center bottom;


}

.container img{

border-radius: 20px;
display: grid;
margin: 10px;
justify-content: center;
align-content: stretch;

}



.buscador{

    border-radius: 35px;
    border-color: transparent;
    background-color: rgb(229, 227, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: gray;

}

h1{

    margin: 0px;
    font-family: pacifico;
    color: rgb(62, 62, 62);
    font-size: 40px;

}