.header {

display: grid;
/* número de columnas que tendrá el grid por porecentajes*/
grid-template-columns: 5% 15% 60% 5% 5%;
margin-bottom: 30px;
margin-top: 20px;
margin-left: 20px;
height: auto;
/* alinea elementos del header sobre eje horizontal */
align-items: center; 
/* alinea todo el header sobre eje vertical */
justify-content: center;

}


.palabra-pinterest{
    display: flex;
    justify-content: center;

}



.elemento-header{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.elemento-header:hover img{

    transform: scale(1.1);
    
    }



.grid {

    display: grid;
    /* permite que al hacer más chica la pantalla las imágenes se vayan hacia abajo, el 220px es el ancho del grid container */
    grid-template-columns: repeat(auto-fill, 220px);    
    margin: 10px;
    
}

.container {

    display: grid;
    align-content: center top;
}

.container img{

border-radius: 20px;
display: grid;
margin: 10px;
cursor: pointer;

}


/* hace que los elementos crezcan al pasar el cursor, debe ser abajo de la clase padre */
.container:hover img{

transform: scale(1.1);

}


.buscador{

    border-radius: 35px;
    border-color: transparent;
    background-color: rgb(229, 227, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: gray;
    width: 90%;

}


h1{

    margin: 0px;
    font-family: pacifico;
    color: rgb(62, 62, 62);
    font-size: 40px;

}